@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.banner__section {
    font-size: 50px;
}

.banner__section h1 {
    font-size: 1.3em;
}

.banner__section p {
    font-size: 0.65em;
}

.btn {
    letter-spacing: 0.075em;
}

.highlight__box, .highlight__box * {
  transition: all 0.2s;
}
.highlight__box:hover {
  transform: translateY(-10px)!important;
}

.highlight__box:hover img {
  transform: scale(1.5);
}

@media (max-width:992px) {
    .banner__section {
        font-size: 42px;
    }
}